.VPHero .image-container {
  max-width: 600px !important;
  width: 100% !important;
}

.VPHero .image-bg,
.VPHero .image-src {
  max-width: 600px !important;
  width: 100% !important;
  height: auto !important;
}

.VPHero .cli-window {
  max-width: 600px !important;
  font-size: 14px !important;
}

.VPNavBarTitle .logo {
  height: 36px !important;
  width: auto !important;
}
